html,
body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Public Sans';
    background-image: url("../images/mall1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}


.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-image {
    width: 100%;
    height: 15rem;
    margin-bottom: .25rem;
    border-radius: 5px
}

.last {
    margin-bottom: 0;
    width: 60%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.return {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 10rem;
    height: 2.5rem;
    border: 0;
    border-radius: 1rem;
    color: white;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}
nav>.nav-items>ul>li>a:hover {
    color: magenta;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-image: linear-gradient(0deg, #e9e6b4 0%, #97D9E1 100%);
    opacity: 0.9;

}

nav>img {
    max-width: 100px;
    height: 100px;
    object-fit: contain;
}

nav>.nav-items {
    text-align: justify;
}

nav>.nav-items>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem
}

nav>.nav-items>ul>li>img {
    max-width: 40px;
}

nav>.nav-items>ul>li:hover {
    cursor: pointer;
    color: magenta;
}

input[type=text],
select {
    background: url("../images/magnifying-glass-solid.svg") no-repeat scroll 15px 8px;
    background-size: 25px;
    background-color: white;
    padding: 12px 350px 12px 50px;
    /* padding-bottom: 12px; */
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*  -------------------------------------------- Section one -------------------------------------------- */

.section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.section-one>.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 50px;
    opacity: 0.96;
    border-radius: 10px;

}
.section-one-part-one {
    background-color: white;
    border-radius: 15px;
    padding: 50px;
}

.section-one-part-one > img {
    max-width: 400px;
    width: 350px;
    min-width: 200px;
    border-radius: 20px;
}

.section-one-part-two>.card {
    background-color: white;
    max-width: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    
}



.footer {
    background-color: hsl(233, 26%, 24%);
    color: white;

}

.footer>.footer-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    width: 100%;
}

.footer>.footer-content>.footer-part-one {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 3rem;
}

.footer>.footer-content>.footer-part-one>.col-1 {
    margin-top: auto;
    margin-bottom: auto;
}

.footer>.footer-content>.footer-part-one>.col-1>.logo>img {
    max-width: 100px;
    height: 100px;
    object-fit: contain;

}

.footer>.footer-content>.footer-part-one>.col-1>.other-logos>img {
    padding-right: 5px;
}

.footer>.footer-content>.footer-part-one>.col-1>.other-logos>img:hover {
    filter: invert(71%) sepia(28%) saturate(700%) hue-rotate(82deg) brightness(87%) contrast(70%);
}

.footer>.footer-content>.footer-part-one>.col-2>ul>li {
    padding: 10px;
}

.footer>.footer-content>.footer-part-one>.col-3>ul>li {
    padding: 10px;
}

.footer>.footer-content>.footer-part-one>.col-2>ul>li:hover,
.footer>.footer-content>.footer-part-one>.col-3>ul>li:hover {
    cursor: pointer;
    color: #31d35c;
}




/* Media width */

@media screen and (max-width:420px) {

    input[type=text],
    select {
        padding: 12px 100px 12px 50px;
    }

    nav {
        padding: 30px;
        flex-wrap: wrap;
        gap: 2rem;
    }

    nav>.nav-items>ul>li>img {
        max-width: 30px;
    }

    nav>.nav-items>ul {
        gap: 3rem;
    }

    .section-one .wrap {
        flex-direction: column;
    }

    .section-one>.section-one-part-one {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-one-part-one>img {
    max-width: 250px;
    min-width: 200px;
    border-radius: 20px;
    }

    .section-one-part-two>.card {
        max-width: 350px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 10px;
        
    }
    .footer {
        text-align: center;
    }

    .footer>.footer-content>.footer-part-one {
        width: 100%;
        flex-direction: column;
        gap: 0.7rem;
        padding-bottom: 30px;
    }

}