html,
body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Public Sans';
    background-image: url("../images/signup2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
nav>.nav-items>ul>li>a:hover {
    color: magenta;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px 20px 40px;
    opacity: 0.9;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(0deg, #e9e6b4 0%, #97D9E1 100%);
    opacity: 0.89;
}

nav>img {
    max-width: 100px;
    height: 100px;
    object-fit: contain;
}

nav>.nav-items {
    text-align: justify;
}

nav>.nav-items>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem
}

nav>.nav-items>ul>li>img {
    max-width: 40px;
}

nav>.nav-items>ul>li:hover {
    cursor: pointer;
    color: magenta;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
label {
    margin: 0 auto;
    color: red;
}

.card {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    margin: 20px;
    padding: 10px 30px;
    background-color: white;
    opacity: 0.9;
}

.card_title {
    text-align: center;
    padding: 10px;
}
.card_title > span > a {
    color: red;
}

.card_title h1 {
    font-size: 26px;
    font-weight: bold;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

.form button {
    cursor: pointer;
    background-color: #4796ff;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    width: 100%;
}

.card_terms {
    display: flex;
    align-items: center;
    padding: 10px;
}

.card_terms >span > a {
    color: red;
}

.card_terms input[type="checkbox"] {
    background-color: #e2e2e2;
}

.card_terms span {
    margin: 5px;
    font-size: 13px;
}

.card a {
    color: #4796ff;
    text-decoration: none;
}

.footer {
    background-color: hsl(233, 26%, 24%);
    color: white;

}

.footer>.footer-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    width: 100%;
}

.footer>.footer-content>.footer-part-one {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 3rem;
}

.footer>.footer-content>.footer-part-one>.col-1 {
    margin-top: auto;
    margin-bottom: auto;
}

.footer>.footer-content>.footer-part-one>.col-1>.logo>img {
    max-width: 100px;
    height: 100px;
    object-fit: contain;

}

.footer>.footer-content>.footer-part-one>.col-1>.other-logos>img {
    padding-right: 5px;
}

.footer>.footer-content>.footer-part-one>.col-1>.other-logos>img:hover {
    filter: invert(71%) sepia(28%) saturate(700%) hue-rotate(82deg) brightness(87%) contrast(70%);
}

.footer>.footer-content>.footer-part-one>.col-2>ul>li {
    padding: 10px;
}

.footer>.footer-content>.footer-part-one>.col-3>ul>li {
    padding: 10px;
}

.footer>.footer-content>.footer-part-one>.col-2>ul>li:hover,
.footer>.footer-content>.footer-part-one>.col-3>ul>li:hover {
    cursor: pointer;
    color: #31d35c;
}


@media screen and (max-width:420px) {
    .footer {
            text-align: center;
        }

    .footer>.footer-content>.footer-part-one {
        width: 100%;
        flex-direction: column;
        gap: 0.7rem;
        padding-bottom: 30px;
    }
}


/* Pop Up */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .header {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}


.modal- body{
    padding: 10px 15px;
}


#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}