html,
body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Public Sans';
    background-image: url("../images/mall1.jpg");   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.last {
    margin-bottom: 0;
    width: 60%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.return {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: #31d35c;
}

button {
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 10rem;
    height: 2.5rem;
    border: 0;
    border-radius: 1rem;
    color: white;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
    background-image: linear-gradient(0deg, #e9e6b4 0%, #97D9E1 100%);
    opacity: 0.9;

}

nav>img {
    max-width: 100px;
    height: 100px;
    object-fit: contain;
    margin-left: 50px;
}

nav>.nav-items {
    text-align: justify;
}

nav>.nav-items>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem
}

nav>.nav-items>ul>li>img {
    max-width: 40px;
}
nav>.nav-items>ul>li > a:hover{
    color: magenta;
}

nav>.nav-items>ul>li:hover {
    cursor: pointer;
    color: magenta;
}

input[type=text] {
    background: url("../images/magnifying-glass-solid.svg") no-repeat scroll 15px 8px;
    background-size: 25px;
    background-color: white;
    padding: 12px 350px 12px 50px;
    /* padding-bottom: 12px; */
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*  -------------------------------------------- Section one -------------------------------------------- */

.section-one {
    display: flex;
}

.section-one>.section-one-part-one {
    padding: 100px;
    width: 20%;
    background-image: linear-gradient(0deg,#4aa3ad 0%, #e9e6b4 100%);
    opacity: 0.9;
}

.dropdown {
    padding: 10px;

}

.section-one>.section-one-part-one>.section-one-part-one-container {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-one>.section-one-part-one>.section-one-part-one-container input {
    padding: 10px 100px 10px 15px;
    background: none;
    background-color: white;
}



.section-one>.section-one-part-two {
    padding: 50px;
    width: 80%;
}

.section-one>.section-one-part-two>.wrap>.title {
    padding: 10px;
    font-size: 2rem;
    background-color: white;
    margin: 30px 0px 30px 0px;
    border-radius: 10px;
    opacity: 0.8;
    text-align: center;
    text-transform: capitalize;
}

.section-one>.section-one-part-two>.wrap>.contents>a>.card {
    max-width: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    overflow-x: hidden;
}

.section-one>.section-one-part-two>.wrap>.contents>a>.card>.content-spacing>p {
    max-height: 100px;
    max-width: 300px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    opacity: 0.8;

}

.section-one>.section-one-part-two>.wrap>.contents>a>.card:hover {
    scale: 1.1;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.section-one>.section-one-part-two>.wrap>.contents>a>.card>.content-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 20px;
    max-width: 300px;
}

.section-one>.section-one-part-two>.wrap>.contents>a>.card>.content-spacing>img {
    max-width: 20px;
}

.section-one>.section-one-part-two>.wrap>.contents>a>.card>.content-spacing>h3:hover {
    color: #31d35c
}

.section-one>.section-one-part-two>.wrap>.contents>a>.card>.content-spacing>h3 {
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}

.section-one>.section-one-part-two>.wrap>.contents>a>.card>.icon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30px;
    padding: 10px 0px 0px 10px;
}

.section-one>.section-one-part-two>.wrap>.contents>a>.card>img {
    max-width: 60%;
    border:0;
    width: 250px;
    height: 255px;
    object-fit: contain;
    padding: 30px;
}

.section-one>.section-one-part-two>.wrap>.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.footer {
    background-color: hsl(233, 26%, 24%);
    color: white;

}

.footer>.footer-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    width: 100%;
}

.footer>.footer-content>.footer-part-one {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 3rem;
}

.footer>.footer-content>.footer-part-one>.col-1 {
    margin-top: auto;
    margin-bottom: auto;
}

.footer>.footer-content>.footer-part-one>.col-1>.logo>img {
    max-width: 100px;
    height: 100px;
    object-fit: contain;

}

.footer>.footer-content>.footer-part-one>.col-1>.other-logos>img {
    padding-right: 5px;
}

.footer>.footer-content>.footer-part-one>.col-1>.other-logos>img:hover {
    filter: invert(71%) sepia(28%) saturate(700%) hue-rotate(82deg) brightness(87%) contrast(70%);
}

.footer>.footer-content>.footer-part-one>.col-2>ul>li {
    padding: 10px;
}

.footer>.footer-content>.footer-part-one>.col-3>ul>li {
    padding: 10px;
}

.footer>.footer-content>.footer-part-one>.col-2>ul>li:hover,
.footer>.footer-content>.footer-part-one>.col-3>ul>li:hover {
    cursor: pointer;
    color: #31d35c;
}




/* Media width */

@media screen and (max-width:420px) {

    input[type=text],
    select {
        padding: 12px 100px 12px 50px;
    }

    nav {
        padding: 0;
        margin: 0;
        /* flex-wrap: wrap; */
        justify-content: space-evenly;
    
    }
    nav img {
        margin-left: 10px;
    }
    .section-one>.section-one-part-one>.section-one-part-one-container{
        flex-direction: row;
        gap: 0.4rem;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

    }

    nav>.nav-items>ul {
        gap: 3rem;
    }

    .section-one {
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }

    .section-one>.section-one-part-one {
        padding: 10px 0px 10px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        margin-right: 20px;
    }

    .section-one>.section-one-part-two {
        width: 100%;
        padding-top: 10px;
    }

    .section-one>.section-one-part-two>.wrap>.title {
        padding: 15px;
        font-size: 1.2rem;
        margin: 10px 0px 20px 0px;
        border-radius: 10px;
    }

    .section-one>.section-one-part-two>.wrap>.contents>a>.card:hover {
        scale: 1.1;
        transition: 0.5s;
    }

    .section-one>.section-one-part-two>.wrap>.contents>a>.card>img {
        max-width: 350px;
        min-height: 60%;
        object-fit: contain;
    }

    .section-one>.section-one-part-two>.wrap>.contents>a>.card {
        max-width: 400px;
        height: 600px;
        padding: 30px;
        border-radius: 10px;
        background-color: white;
        overflow-y: hidden;
    }

    .section-one>.section-one-part-two>.wrap>.contents {
        justify-content: center;
        gap: 3rem;
    }

    .footer {
        text-align: center;
    }

    .footer>.footer-content>.footer-part-one {
        width: 100%;
        flex-direction: column;
        gap: 0.7rem;
        padding-bottom: 30px;
    }
    .sort-label {
        display: none;
    }

}